*{
    margin: 0;
    text-align: center;
font-family: 'Playfair Display', serif;
    color: white;
    box-sizing: border-box;
}
html{
     
}

.main-nav{
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    top: 0;
    left: 0;
    z-index: 100;
    
}

.nav-item{
    width: 80px; 
    height: 70px; 
    background-color: rgba(0,0,0,1);
    display: inline-block;
    position: relative;
    
}

#item1{
    left: 0;
    top: 0;
    background-image: url(../media/whitelogo.png);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
}

#item2{
    background-image: url(../media/realfacebook.png);
    background-size:50%;
    background-repeat: no-repeat;
    background-position: center; 
    
}

.man{
    width: 100%;
    height: 80vw;
    background-image: url(../media/man.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    min-height: 350px; 
}

.wrapper{
    display: grid;
    grid-template-rows: 2fr 1fr 0.8fr;
    height: 100%;
    background-color: rgba(0,0,0,0.7)
}

.wrapper-i{
    background-color: rgba(0,0,0,0);
}

.wrapper-i:nth-child(odd){
    background-color: rgba(0,0,0,0);
}

#middle h1{
    font-size: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#bottom h2{
    font-size: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Merriweather', serif;
    font-weight: 300; 
}

@media(min-width: 580px){
    .wrapper{
        grid-template-rows: 3fr 1fr 0.8fr;
    }
    
    #bottom h2{
        font-size: 40px;
    }
    
    #middle h1{
        font-size: 60px;
    }
}

@media(min-width: 1000px){
    .man{
        height: auto;
    }
}
.preview-wrapper{
    background-image: linear-gradient(to  bottom, #58fb55, black);
    padding: 20px;
}

.preview{
    height: auto; 
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 0.85fr;
    padding: 10px;
    background-color: black

}

.text{
    background-color: black;
    display: grid;
    grid-template-rows: 1fr;
    height: auto;
}

.title{
    
    padding: 25px;
}

.title h4{
    font-size: 50px; 
    text-align: left;
    padding-bottom: 
    
}

.content h5{
    text-align: left;
    font-size: 20px;
    
     
}

#first {
    font-style: italic;
    padding: 25px;
    padding-bottom: 0;
    padding-top: 5px;
    font-family: 'Lora', serif;
}

#second{
    padding-left: 25px;
    padding-right: 25px; 
    padding-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    

}

.content{
    height: auto; 
    
}

.image{
    
    padding: 20px;
    
}
.image-wrapper{
    background-image: url(../media/highres.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
}

    @media only screen and (min-width: 550px){
        .preview{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr; 
        }
    }

   @media only screen and (min-width: 1000px){
       .preview{
           display: grid;
           padding: 0;
           width: 800px;
           position: relative;
           background-repeat: no-repeat; 
           background-position: center;
    
           left: 50%;
           transform: translateX(-50%);
       }
       
       .text{
           display: block;
           padding: 0;
           
       }
       
       .image{
           display: block;
           height: auto;
           padding: 30px;
       }
      
       
      
    }
    
.footer{
    width: 100%; 
    height: 60px; 
    background-color: dimgray;
}

.footer h6{
    font-size: 15px; 
    position: relative;
    top: 30px
}

.icon-wrapper{
    position: absolute;
    height: 100px; 
    width: 450px;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 10px;
    padding: 10px; 
    
}

.icon{
    background-color: black;
    border-radius: 10px; 
    padding: 5px;
}

#google{
    background-image: url(../media/google.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center; 
}

#apple{
    background-image: url(../media/apple.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center; 
}

@media only screen and (max-width: 1300px){
    .icon-wrapper{
    position: absolute;
    height: 200px; 
    width: 225px;
    top: 75px;
        left: 50%;
        transform: translateX(-50%);
    display: grid;
    grid-template-rows: 1fr 1fr; 
        grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px; 
    
    }

}

@media only screen and (max-width: 620px){
    .icon-wrapper{
        position: absolute;
        height: 150px; 
        width: 175px;
       
    
    }

}

@media only screen and (max-width: 500px){
    .icon-wrapper{
        position: absolute;
        height: 100px; 
        width: 112px;
       
    
    }

}

@media only screen and (max-width: 400px){
    .icon-wrapper{
        position: absolute;
        height: 85px; 
        width: 150px;
       
    
    }

}



